*.pyc
backend/src/data/
backend/data/
backend/logs/*

.env
.env.*
deploy/.env
deploy/.env.*
logs/ai_behavior.log
backend/src/logs/ai_behavior.log
backend/src/logs/ai_behavior.log
backend/src/global_studio.db
backend/global_studio.db
frontend/global_studio.db
global_studio.db
*.log
